html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    width: min(90%, 1140px);
    margin: 0 auto;
    border: 2px solid blue;
}